@font-face {
	font-family: roboto
	src: url("roboto_font.ttf");
}

body {
	background-image: url("assets/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	border-bottom: 3px solid black;
	text-align: right;
	opacity: 0.8;
}

.logo {
	width: 150px;
	margin-top: 0px;
	left: 10px;
	position:absolute;
}

.logo:hover {
	width: 200px;
	margin-top: 0px;
	left: 10px;
	position:absolute;
}

/*.home-link,*/
.about-link,
.project-link,
.product-link {
	width: 160px;
	height: 70px;
	float: right;
	margin-top: 5px;
	margin-right: 50px;
	background-repeat: no-repeat;
	background-size: cover;
}

/*.home-link { background-image: url("assets/home_button.png"); } */
.about-link { background-image: url("assets/about_button.png"); }
.project-link { background-image: url("assets/project_button.png"); }
.product-link { background-image: url("assets/product_button.png"); }

/*.home-link:hover { background-image: url("assets/home_button_hover.png"); } */
.about-link:hover { background-image: url("assets/about_button_hover.png"); }
.project-link:hover { background-image: url("assets/project_button_hover.png"); }
.product-link:hover { background-image: url("assets/product_button_hover.png"); }

.textBox {
	width: 1100px;
	height: 120px;
	border: 2px solid #000000;
	border-color: #feffc4;
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.textBox:hover {
	background-color: rgba(254, 246, 251, 0.2);
}

.textype {
	font-size: 18px;
	text-align: center;
	font-family: roboto;
	margin: 10px;
}

.swiper-container {
	border: 2px solid #000000;
	border-radius: 10px;
	margin-top: 100px;
	width: 1280px;
	height: 720px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-img-content {
	width: 100%;
}

th, td {
	border: 1px solid #000000;
	background-color: rgba(254, 246, 251, 0.0);
	border-radius: 2px;
	margin: 2px;
	margin-top: 100px;
	text-align: center;
	}

td {
	text-align: center;
}
.textInProgress {
	font-size: 18px;
	text-align: center;
	font-family: roboto;
	color: #F4B61E;
}
.textComplete {
	font-size: 18px;
	text-align: center;
	font-family: roboto;
	color: #33D647;
}
.textBox2 {
	width: 1000px;
	height: 120px;
	border: 0px solid #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	font-size: 20px;
}
#disqus_thread {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
.productBox,
.productBox2{
	width: 646px;
	height: 366px;
	border: 2px solid #000000;
	margin-right: 100px;
	margin-top: 100px;
	float: right;
}

.productBox3 {
	width: 646px;
	height: 366px;
	border: 2px solid #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 520px;

}
.inquireTextBox {
	width: 850px;
	height: 60px;
	border: 2px solid #000000;
	background-color: rgba(254, 246, 251, 0.0);
	border-color: #ECAD04;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
.inquireTextBox:hover {
	background-color: rgba(254, 246, 251, 0.2);
}
	.inquireTextType {
	font-size: 20px;
	text-align: center;
	font-family: roboto;
	margin: 10px;

}
.donationTextBox {
	width: 500px;
	height: 150px;
	border: 2px solid #000000;
	border-color: #ECAD04;
	border-radius: 1px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	font-size: 20px;
	text-align: center;
	font-family: roboto;
}
.donationTextBox:hover {
	background-color: rgba(254, 246, 251, 0.2);
}
.aboutBox {
	width: 1200px;
	height: 450px;
	border: 2px solid #000000;
	border-color: #ECAD04;
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.aboutBox:hover {
	background-color: rgba(254, 246, 251, 0.2);
}
.aboutTextType {
	font-size: 22px;
	text-align: justify;
	font-family: roboto;
	margin: 20px;
}
